*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:white;
    background-color: black;
    font-family: 'Proxima Nova';
}
.div1
{
    border:1px solid black;
    height:50px;
    display: flex;
    align-items: center;
    color:white;
    width:100%;
    margin-top: 10px;
    
}
.img1
{
    height:50px;
    display:inline-block;  
}
.img2
{
    height:50px;
    margin-left: 30px;
    display:inline-block;
}
   
ul li 
{ 
    display: inline-block; 
    padding-left: 30px;
    font-size: 25px;
} 
ul li a{
    text-decoration: none;
    display:inline-block;
    color:white;
    font-family: 'Proxima Nova';
    padding-bottom: 40px;
}
   
.img3
{
    display:inline-block;
    height:40px;
    padding-left: 40px;

}
.img4
{
    display:inline-block;
    height:50px;
    padding-left: 30px;
}
.img5
{
    display:inline-block;
    height:50px;
    padding-left: 25px;
}
.img6
{
    display:inline-block;
    height:50px;
    padding-left: 25px;

}


.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
}

.row {
    display: flex;
    justify-content: space-between;
}

.image {
    width: calc(100% / 7);
    height: 500px; 
    transition: transform 0.2s ease, filter 0.2s ease;
}
.image:hover {
    transform: scale(1.1);
    filter: brightness(0.9);
}
.star
{
    height:30px;
    display:inline-block;
}
.fire_img
{
    height:25px;
    margin-top: 40px;
}